@model PersonalWebAPPMvc.DTO_s.Categories.CategoryDetailsModel

@{
    ViewData["Title"] = "CategoryDetails";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>CategoryDetails</h1>

<div>
    <h4>CategoryDetailsModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastCheckDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastCheckDate)
        </dd>
    </dl>
</div>
<div>
    <a href="@Url.Action("CategoryUpdate","Category")/@Model.Id" class="btn btn-Info btn-icon-split"> <span class="icon text-black-50"> <i class="fas fa-eye"></i> </span><span class="text">Update</span></a>
    <a href="@Url.Action("Index","Category")" class="btn btn-Info btn-icon-split"> <span class="icon text-black-50"> <i class="fas fa-eye"></i> </span><span class="text">Liste</span></a>
</div>
